/* simple set up*/
h1 {
    text-align: center;
    background-color: royalblue;
    color:white;
    font-family: 'Mulish', sans-serif;
    width:100%;
    padding:15px;
  }
  .input-group {
    margin-bottom: 15px;
  }
  .header-style {
    font-size: 50px;
    color: #ffffff;
    font-family: 'Mulish', sans-serif;
    text-align: center;
  }
  .card {
    width:100%;
  }
  .fiveDay{    
    background-color: royalblue;
    margin: 15px;
  }
  h3 {
    float:left;
  }
  